body {
    font-family: 'Roboto Condensed', sans-serif;
}

.bg {
    background: url(../images/rupaul-bg.png) no-repeat center center fixed, url(../images/glitter.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
    background-color: transparent;
}

.jumbotron {
    background: transparent;
    height: 200px;
    padding: 0px;
    z-index: 100;
}

.logo {
    width: 400px;
}

#time {
    font-weight: 700;
    padding-bottom: 20px;
}

.button, .answer, .reset-button{
    width: auto;
    height: auto;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    background: rgb(13,96,226);
    background: linear-gradient(356deg, rgba(6,53,128,1) 0%, rgba(13,96,226,1) 35%, rgba(27,183,213,1) 100%);
    padding: 20px;
    border-radius: 3px;
    margin: 30px 0px;
  }

  .giphy {
      margin-top: 20px;
      width: 100%;
  }